.App {
  text-align: center;
  margin: 100px auto;
}
body{
  background-color: cadetblue;
  color: aliceblue;
}
caption{
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  color: aliceblue;
}
table {
  border: 4px solid white;
}
input{
  padding: 10px 20px;
}
button{
  padding: 10px 60px;
  cursor: pointer;
}
.data{
  margin-top: 40px;
}
.para{
  display: inline;
}
.filter_persantage{
  margin-top: 20px;
}
.filter_persantage select{
  padding: 10px 40px;
  margin: 10px;
}